.post-slideshow-add-slide {
    display: block;
    margin: .5em !important;
}

.form-group {
  .post-slideshow-add-featured-image {
    display: block;
    margin-top: 1em !important;
    margin-bottom: .75em !important;
  }
}
