.post-slideshow {
  &-slide {
    width: 100%;
    margin: 0;

    &.post-slideshow-add-slide {
      .meta-box-sortables {
        & > .postbox {
          width: 96.85% !important;
          position: relative;

          h2 {
            min-height: unset !important;
          }
        }
      }
    }

    .meta-box-sortables {
      padding-top: .85em;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;

      & > .postbox {
        margin: .5em;
        width: 48%;
        position: relative;

        &.closed {
          border: none !important;
          box-shadow: none !important;

          h2 {
            border: 1px solid #e5e5e5;
            box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
          }
        }

        h2 {
          min-height: 75px;
        }
      }
    }

    &.post-slideshow-add-slide {
      .meta-box-sortables {
        padding: 0;
      }

      .postbox {
        margin: 0;
      }
    }
  }

  &-img-preview {
    margin: 1em 0;

    &--inner {
      display: inline-block;
      position: relative;
    }
  }
}

.hndle {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.togglehandler {
  display: flex;
  align-items: center;
}
