.post-slideshow-slide {
  h2 {
    i {
      font-size: .75em;
      color: #72777c;
      margin-right: 1em;
    }
  }
}

.post-slideshow-img-preview {
  &--inner {
    span {
      position: absolute;
      right: 0;
      color: #fff;
      background: rgba(0, 0, 0, 0.5);
      cursor: pointer;
    }
  }
}
